body,
button {
	font-family: "Space Mono", monospace !important;
	font-weight: 400;
	font-style: normal;
}

.measure-meter {
}

.two-column {
	float: left;
	width: 50%;
}
.plots {
	height: 100%;
}

.column-container {
	width: 100%;
}
.plot-container {
	height: 700px;
}
