body,
button {
	font-family: "Space Mono", monospace !important;
	font-weight: 400;
	font-style: normal;
}

.measure-meter {
	margin: 0px;
	padding-right: 5px;
}

.two-column {
	float: left;
	width: 50%;
}
.plots {
	height: 100%;
}

.column-container {
	width: 100%;
}
.plot-container {
	height: 500px;
}
.float-button-container {
	position: fixed;
	display: inline;
	bottom: 40px;
	right: 50px;
	text-align: center;
}

.float-meters-container {
	position: fixed;
	display: inline;
	min-width: 160px;
	bottom: 40px;
	left: 50px;
	padding-left: 5px;
	text-align: left;
	border: solid lightgray;
	border-radius: 10px;
	box-shadow: 10px 5px 5px lightgray;
	background-color: white;
	z-index: 100;
}
@media screen and (max-width: 990px) and (orientation: portrait) {
	html,
	body {
		height: 100%;
		overflow: hidden;
	}
	.two-column {
		width: 100%;
	}
	.float-meters-container {
		position: sticky;
		display: block;
		top: 0px;
		border: none;
		border-radius: 0px;
		border-bottom: solid lightgray;
		box-shadow: 0px 0px 0px lightgray;
		background-color: white;
		width: 100%;
		z-index: 100;
	}
	.wrapper {
		height: 90%;
		overflow-y: scroll;
	}
	.float-button-container {
		position: fixed;
		display: block;
		width: 100%;
		left: 0px;
		bottom: 0px;
		border-top: solid lightgray;
		background-color: white;
	}
	.measure-meter {
		padding-bottom: 5px;
	}
}
@media screen and (max-width: 1250px) and (orientation: landscape) {
	html,
	body {
		height: 100%;
		overflow: hidden;
	}
	.wrapper {
		height: 85%;
		overflow-y: scroll;
	}
	.float-meters-container {
		position: fixed;
		display: inline;
		padding-left: 5px;
		top: 0px;
		bottom: auto;
		left: 0px;
		text-align: left;
		border: none;
		border-bottom: solid lightgray;
		border-right: solid lightgray;
		border-radius: 0px;
		border-bottom-right-radius: 5px;
		box-shadow: 0px 0px 0px lightgray;
		background-color: #ffffff5e;
		z-index: 100;
	}
}
